body{
    margin: 0;
    padding: 0;
    background-image: url("../images/logbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #46496a;
}

.page{
    height: 100vh;
}

.navbarbc{
    z-index: 5;
      color: white;
      background-color: #46496a;
      width: 100%;
      position: fixed;
  }
  
#navbarNav{
    justify-content: end;
}

.add{
    z-index: 4;
    position: fixed;
    margin-left: 20px;
}

.questions{
    background-color: #7D8BAE;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.questioninputtext{
    width: 80%;
}