body{
    margin: 0;
    padding: 0;
    background-image: url("../images/logbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #46496a;
}

.page{
    height: 100vh;
}

.navbarbc{
    z-index: 5;
      color: white;
      background-color: #46496a;
      width: 100%;
      position: fixed;
  }
  
#navbarNav{
    justify-content: end;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }
  

.cards .card {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 120px;
  width: 250px;
  color: white;
  cursor: pointer;
  transition: 400ms;
  border-radius: 10px;
  background-color: #F6C445;
}

.cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .cards .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards:hover > .card:not(:hover) {
    /* filter: blur(10px); */
    transform: scale(0.9, 0.9);
  }
  
  .second-text{
    border-radius: 20px;
  }